In [605]:
# dependencies
import pandas as pd
import numpy as np

In [606]:
# # store filepath 
input_file = "Resources/purchase_data.csv"

# read CSV into Pandas DataFrame
pd_raw_df = pd.read_csv(input_file)

In [607]:
# Player Count
unique_players = pd_raw_df["SN"].unique()
players_series = pd.Series(unique_players)

players_df = pd.DataFrame({"SN": players_series})
players = players_df.count()
total_players_df = pd.DataFrame({"Total Players": players})
total_players_df = total_players_df.reset_index(drop=True)
total_players_df

   Total Players
0            576

In [608]:
## Purchasing Analysis

# number of unique items
unique_items = pd_raw_df["Item Name"].unique()
items_series = pd.Series(unique_items)


items_df = pd.DataFrame({"Item Name": items_series})
items = items_df.count()
total_items_df = pd.DataFrame({"Number of Unique Items": items})
total_items_df = total_items_df.reset_index(drop=True)
total_items_df

   Number of Unique Items
0                     179

In [609]:
# average price
items_df_grouped = pd_raw_df.groupby("Item Name")
price = items_df_grouped["Price"].mean()
price = price.reset_index(drop=True)
ave_price = (round(price.sum()/items, 2))
ave_price_series = pd.Series(ave_price)
ave_price_df = pd.DataFrame({"Average Price": ave_price_series})
ave_price_df = ave_price_df.reset_index(drop=True)
ave_price_df

   Average Price
0           3.04

In [610]:
# number of purchases
unique_items = pd_raw_df["Item Name"].count()
items_series = pd.Series(unique_items)

items_df = pd.DataFrame({"Number of Purchases": items_series})
items_df

   Number of Purchases
0                  780

In [611]:
# total revenue
total_revenue = pd_raw_df["Price"].sum()
total_revenue_series = pd.Series(total_revenue)

total_revenue_df = pd.DataFrame({"Total Revenue": total_revenue_series})
total_revenue_df

   Total Revenue
0        2379.77

In [612]:
# purchasing analysis summary
purchasing_analysis_list = [total_items_df, ave_price_df, items_df, total_revenue_df]
purchasing_analysis_df = pd.concat(purchasing_analysis_list, join='outer', axis=1)
purchasing_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.04                  780        2379.77

In [613]:
## Gender Demographics

# number of males
filter_m_df = pd_raw_df.loc[pd_raw_df["Gender"] == "Male", :]
filter_m_df = filter_m_df.groupby(["SN"])
male_vc = filter_m_df["Gender"].value_counts()
male_series = pd.Series(male_vc)
male_count = male_series.count()
male_series = pd.Series(male_count)
male_series

0    484
dtype: int64

In [614]:
# number of females
filter_f_df = pd_raw_df.loc[pd_raw_df["Gender"] == "Female", :]
filter_f_df = filter_f_df.groupby(["SN"])
f_vc = filter_f_df["Gender"].value_counts()
f_series = pd.Series(f_vc)
f_count = f_series.count()

In [615]:
# number of other/non-disclosed
filter_o_df = pd_raw_df.loc[pd_raw_df["Gender"] == "Other / Non-Disclosed", :]
filter_o_df = filter_o_df.groupby(["SN"])
o_vc = filter_o_df["Gender"].value_counts()
o_series = pd.Series(o_vc)
o_count = o_series.count()
o_series = pd.Series(o_count)
o_series

0    11
dtype: int64

In [616]:
# Percentage of players
total_players = male_count + f_count + o_count
print(total_players)

p_male = round(male_count / total_players * 100, 2)
print(p_male)

p_female = round(f_count / total_players * 100, 2)
print(p_female)

p_other = round(o_count / total_players * 100, 2)
print(p_other)

576
84.03
14.06
1.91

In [617]:
# gender demographics summary

gender_index_series = pd.Series(["Male", "Female", "Other / Non-Disclosed"])
total_count_series = pd.Series([male_count, f_count, o_count])
percentage_series = pd.Series([p_male, p_female, p_other])

gds_dict = {}
gds_dict["Total Count"] = []
gds_dict["Percentage of Players"] = []

for x in total_count_series:
    if "Total Count" in gds_dict:
        gds_dict["Total Count"].append(x)
for x in percentage_series:
    if "Percentage of Players" in gds_dict:
        gds_dict["Percentage of Players"].append(x)

gds_df = pd.DataFrame(gds_dict, index=gender_index_series)
gds_df

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [618]:
## purchasing analysis (gender)

## purchase count

# purchase count (female)
f_item_count = filter_f_df["Item Name"].value_counts()
f_pc_count =len(f_item_count.index)
print(f_pc_count)

# purchase count (male)
m_item_count = filter_m_df["Item Name"].value_counts()
m_pc_count = len(m_item_count.index)
print(m_pc_count)

# purchase count (other)
o_item_count = filter_o_df["Item Name"].value_counts()
o_pc_count = len(o_item_count.index)
print(o_pc_count)

113
652
15

In [619]:
## total purchase value

# total purchase value (female)
f_sum_tp = filter_f_df["Price"].sum()
f_sum_tp = float(f_sum_tp.sum())
print(f_sum_tp)

# total purchase value (male)
m_sum_tp = filter_m_df["Price"].sum()
m_sum_tp = float(m_sum_tp.sum())
print(m_sum_tp)

# total purchase value (other)
o_sum_tp = filter_o_df["Price"].sum()
o_sum_tp = float(o_sum_tp.sum())
print(o_sum_tp)

361.94
1967.64
50.19

In [620]:
## average purchase price

# average purchase price (female)
f_ave = round(f_sum_tp / f_pc_count, 2)
print(f_ave)

# average purchase price (male)
m_ave = round(m_sum_tp / m_pc_count, 2)
print(m_ave)

# average purchase price (other)
o_ave = round(o_sum_tp / o_pc_count, 2)
print(o_ave)

3.2
3.02
3.35

In [621]:
## average total price per person

# avg total purchase per person (female)
f_ave_tp = round(f_sum_tp / f_count, 2)
print(f_ave_tp)

# avg total purchase per person (male)
m_ave_tp = round(m_sum_tp / male_count, 2)
print(m_ave_tp)

# avg total purchase per person (other)
o_ave_tp = round(o_sum_tp / o_count, 2)
print(o_ave_tp)

4.47
4.07
4.56

In [622]:
## purchasing analysis summary (gender)

gender_index_series = pd.Series(["Female", "Male", "Other / Non-Disclosed"])
purchase_count_series = pd.Series([f_pc_count, m_pc_count, o_count])
total_purchase_value_series = pd.Series([f_sum_tp, m_sum_tp, o_sum_tp])
average_purchase_price_series = pd.Series([f_ave, m_ave, o_ave])
av_price_pp_series = pd.Series([f_ave_tp, m_ave_tp, o_ave_tp])

pag_dict = {}
pag_dict["Purchase Count"] = []
pag_dict["Total Purchase Value"] = []
pag_dict["Average Purchase Price"] = []
pag_dict["Avg Total Purchase per Person"] = []

for x in purchase_count_series:
    if "Purchase Count" in pag_dict:
        pag_dict["Purchase Count"].append(x)
for x in total_purchase_value_series:
    if "Total Purchase Value" in pag_dict:
        pag_dict["Total Purchase Value"].append(x)
for x in average_purchase_price_series:
    if "Average Purchase Price" in pag_dict:
        pag_dict["Average Purchase Price"].append(x)
for x in av_price_pp_series:
    if "Avg Total Purchase per Person" in pag_dict:
        pag_dict["Avg Total Purchase per Person"].append(x)

purchasing_analysis_gender_df = pd.DataFrame(pag_dict, index=gender_index_series)
purchasing_analysis_gender_df

,Purchase Count,Total Purchase Value,Average Purchase Price,Avg Total Purchase per Person
Female,113,361.94,3.20,4.47
Male,652,1967.64,3.02,4.07
Other / Non-Disclosed,11,50.19,3.35,4.56

In [623]:
## age demographics

# df: filter by unique players by age
filter_a_sn_df = pd_raw_df.loc[:, ["SN", "Age"]]
a = filter_a_sn_df.drop_duplicates()
filter_age_sn_df = a.copy()

filter_age_sn_df

                SN  Age
0          Lisim78   20
1      Lisovynya38   40
2       Ithergue48   24
3    Chamassasya86   24
4        Iskosia90   23
..             ...  ...
773         Hala31   21
774     Jiskjask80   11
775     Aethedru70   21
777     Yathecal72   20
778        Sisur91    7

[576 rows x 2 columns]

In [624]:
# create bins for age

bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
filter_age_sn_df["Age Ranges"] = pd.cut(filter_age_sn_df["Age"], bins, labels=bin_labels)

print(filter_age_sn_df)

age_group = filter_age_sn_df.groupby("Age Ranges")
age_demographics_series = age_group["Age"].count()
age_demographics_series

# create dictionary to hold total counts by age
age_dict = {}
age_dict["Total Count"] = []

for x in age_demographics_series:
    if "Total Count" in age_dict:
        age_dict["Total Count"].append(x)

print(age_dict)

                SN  Age Age Ranges
0          Lisim78   20      20-24
1      Lisovynya38   40        40+
2       Ithergue48   24      20-24
3    Chamassasya86   24      20-24
4        Iskosia90   23      20-24
..             ...  ...        ...
773         Hala31   21      20-24
774     Jiskjask80   11      10-14
775     Aethedru70   21      20-24
777     Yathecal72   20      20-24
778        Sisur91    7        <10

[576 rows x 3 columns]
{'Total Count': [17, 22, 107, 258, 77, 52, 31, 12]}

In [625]:
# create dataframe for age demographics
age_demographics_df = pd.DataFrame(age_dict, index=bin_labels)

# add column for percentage of players by age
percentage_by_age_series = round(age_demographics_df["Total Count"] / total_players * 100, 2)
age_demographics_df["Percentage of Players"] = percentage_by_age_series

age_demographics_df

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

In [626]:
## Purchasing Analysis (age)

# filter by unique players age and price
filter_pa_df = pd_raw_df.loc[:, ["SN", "Age", "Price"]]
filter_age_sn_price_df = filter_pa_df.copy()

filter_age_sn_price_df

filter_age_sn_price_df["Age Ranges"] = pd.cut(filter_age_sn_price_df["Age"], bins, labels=bin_labels)
age_range_price_group = filter_age_sn_price_df.groupby("Age Ranges")

In [627]:
# purchase count
age_range_price_count_series = age_range_price_group["Price"].count()

age_range_price_count_series

Age Ranges
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Price, dtype: int64

In [628]:
# total purchase value
age_range_price_value_series = age_range_price_group["Price"].sum()

age_range_price_value_series

Age Ranges
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [629]:
# average purchase price
age_range_price_avg_series = round(age_range_price_group["Price"].mean(), 2)

age_range_price_avg_series

Age Ranges
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40+      2.94
Name: Price, dtype: float64

In [630]:
# avg total purchase per person
age_range_price_avg_pp_series = round(age_range_price_value_series / age_demographics_series, 2) 
age_range_price_avg_pp_series

Age Ranges
<10      4.54
10-14    3.76
15-19    3.86
20-24    4.32
25-29    3.81
30-34    4.12
35-39    4.76
40+      3.19
dtype: float64

In [631]:
pa_age_dict = {}
pa_age_dict["Purchase Count"] = []
pa_age_dict["Total Purchase Value"] = []
pa_age_dict["Average Purchase Price"] = []
pa_age_dict["Avg Total Purchase per Person"] = []

for x in age_range_price_count_series:
    if "Purchase Count" in pa_age_dict:
        pa_age_dict["Purchase Count"].append(x)
for x in age_range_price_value_series:
    if "Total Purchase Value" in pa_age_dict:
        pa_age_dict["Total Purchase Value"].append(x)
for x in age_range_price_avg_series:
    if "Average Purchase Price" in pa_age_dict:
        pa_age_dict["Average Purchase Price"].append(x)
for x in age_range_price_avg_pp_series:
    if "Avg Total Purchase per Person" in pa_age_dict:
        pa_age_dict["Avg Total Purchase per Person"].append(x)

purchasing_analysis_age_df = pd.DataFrame(pa_age_dict, index=bin_labels)
purchasing_analysis_age_df

,Purchase Count,Total Purchase Value,Average Purchase Price,Avg Total Purchase per Person
<10,23,77.13,3.35,4.54
10-14,28,82.78,2.96,3.76
15-19,136,412.89,3.04,3.86
20-24,365,1114.06,3.05,4.32
25-29,101,293.00,2.90,3.81
30-34,73,214.00,2.93,4.12
35-39,41,147.67,3.60,4.76
40+,13,38.24,2.94,3.19

In [632]:
## top spenders

# purchase count
purchase_counts = pd_raw_df["SN"].value_counts()
purchase_counts

# total purchase value
total_p = pd_raw_df.groupby(["SN"])
tpc = total_p["Price"].sum()
tpc

# average purchase price
avg = round(tpc / purchase_counts, 2)
avg

spenders_summary_df = pd.DataFrame({"Purchase Count": purchase_counts, "Average Purchase Price": avg, "Total Purchase Value": tpc})
s_df = spenders_summary_df.sort_values("Total Purchase Value", ascending=False).head()
s_df

             Purchase Count  Average Purchase Price  Total Purchase Value
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

In [633]:
# Most Popular Items

# purchase count
p_count_items = pd_raw_df["Item Name"].value_counts()
p_count_items

# item price
ip = pd_raw_df.groupby(["Item Name"])
item_price = ip["Price"].count()
item_price

# total purchase value
item_group_tpv = pd_raw_df.groupby(["Item Name"])
item_tpv = item_group_tpv["Price"].sum()
item_tpv

most_popular_items_df = pd.DataFrame({"Purchase Count": p_count_items, "Item Price": item_price, "Total Purchase Value": item_tpv})
most_popular_items_df

,Purchase Count,Item Price,Total Purchase Value
Abyssal Shard,5,5,13.35
"Aetherius, Boon of the Blessed",5,5,16.95
Agatha,6,6,18.48
Alpha,3,3,6.21
"Alpha, Oath of Zeal",3,3,12.15
...,...,...,...
Wolf,8,8,28.32
"Wolf, Promise of the Moonwalker",6,6,26.88
Worldbreaker,4,4,10.40
Yearning Crusher,3,3,12.54
Yearning Mageblade,5,5,19.10